body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.header {
    background-color: blue;
    color: white;
    padding: 15px;
}

.form-box {
    background-color: white;
    width: 350px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 7px;
}

button {
    padding: 8px 15px;
    margin: 8px;
    border: none;
    color: white;
    cursor: pointer;
}

.hitung {
    background-color: blue;
}

.reset {
    background-color: red;
}

table {
    margin: 20px auto;
    background-color: white;
    border-collapse: collapse;
    width: 400px;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
}

footer {
    text-align: bottom;
    position: relative;
    background-color: gray;
}